<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>VVMajor: {{ page.title }}</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  </style>
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">1</span>
            <span class="icon-bar">2</span>
            <span class="icon-bar">3</span>
          </button>
          <a class="brand" href="/">VVMajor</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

           <!--   <li class="active"><a href="/">Home</a></li>  -->

		{% for page in site.pages_list %}
  		
  		<li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>

		{% endfor %}

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>

<div class="container">
